Table,Name,Category,Subcategory,Style,Place,"Last Name","First Name","Email Address",Address,City,State/Province,"Zip/Postal Code",Country,Phone,"Entry Name",Club,Co-Brewer
1,"Pale American Beer",1,A,"American Light Lager",1,Dow,John,jdoe@example.com,"123 1st St.",Alameda,CA,94501,"United States","1(510) 555-5555",MyBrewName,"DOZE",
